.alert {
    background-color: @smoke;
    margin-bottom: 2em;
    padding: .5em 1em;
    border: 1px solid;

    a.close {
        display: inline-block;
        padding: 0 .5em;
        margin: 0;
        cursor: pointer;
    }
}

.alert-warning {
    color: @color-warning;
    border-color: @color-warning;

    h4.alert-heading, a.close {
        color: @color-warning;
    }
}

.alert-error, .alert-danger {
    color: @color-error;
    border-color: @color-error;

    h4.alert-heading, a.close {
        color: @color-error;
    }
}

.alert-success {
    color: @color-success;
    border-color: @color-success;

    h4.alert-heading, a.close {
        color: @color-success;
    }
}

.alert-info, .alert-message {
    color: @color-info;
    border-color: @color-info;

    h4.alert-heading, a.close {
        color: @color-info;
    }
}

// helper classes
// background colors
&.box {
    color: inherit;
    margin-bottom: 1em;
    padding: .5em 1em;
}

&.red {
    color: @smoke;
    background: @colorRedA400;
}
&.pink {
    color: @smoke;
    background: @colorPinkA400;
}
&.purple {
    color: @smoke;
    background: @colorPurpleA400;
}
&.deeppurple {
    color: @smoke;
    background: @colorDeepPurpleA400;
}
&.indigo {
    color: @smoke;
    background: @colorIndigoA400;
}
&.blue {
    color: @smoke;
    background: @colorBlueA400;
}
&.lightblue {
    color: @colorIndigo900;
    background: @colorLightBlueA400;
}
&.cyan {
    color: @colorIndigo900;
    background: @colorCyanA400;
}
&.teal {
    color: @colorIndigo900;
    background: @colorTealA400;
}
&.green {
    color: @colorIndigo900;
    background: @colorGreenA400;
}
&.lightgreen {
    color: @colorIndigo900;
    background: @colorLightGreenA400;
}
&.lime {
    color: @colorIndigo900;
    background: @colorLimeA400;
}
&.yellow {
    color: @colorIndigo900;
    background: @colorYellowA400;
}
&.amber {
    color: @colorIndigo900;
    background: @colorAmberA400;
}
&.orange {
    color: @smoke;
    background: @colorOrangeA400;
}
&.deeporange {
    color: @smoke;
    background: @colorDeepOrangeA400;
}
&.brown {
    color: @smoke;
    background: @colorBrown600;
}
&.bluegrey {
    color: @smoke;
    background: @colorBlueGrey600;
}

// goldener schnitt // drittel-teilung
.width-g-minor,
.width-g-major,
.width-33,
.width-66 {
    width: 100%;
}

@media screen and (min-width: 48em) {

    .width-g-minor {
        width: 38.2%;
    }
    .width-g-major {
        width: 61.8%;
    }
    .width-33 {
        width: 33.33%;
    }
    .width-66 {
        width: 66.66%;
    }
}

