// allg stile & farben

body {
    // background-color: @color-primary;
}

body.masonry {
    section.main-container main {
        section.content  {
            section.masonry-container {
                div.grid-sizer,
                article.masonry-item {
                    width: 100%;
                }
            }
        }
    }
}

section.layout {
    // background-color: @color-primary;
}

.logo-image {
	overflow: hidden;
	height: 3em;

	a {
		width: 100%;
		height: 3em;
		display: block;
		padding: 0 0 0 1em;
		z-index: -1;

		img {
			height: 100%;
			width: auto;
			position: relative;
			z-index: -1;
		}
	}
}

.search-container {
	height: 3em;
    max-height: 3em;
	overflow: hidden;
    max-width: 40%;
}

.textresizer-container {
    background-color: transparent;
	text-align: center;
	height: 3em;
    max-height: 3em;
	margin: 0;

	ul  {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: inline-block;
		zoom: 1;
		*display: inline;

		li {
			float: left;
			margin: 0;

            a {
                color: @color-primary-text;
                text-decoration: none;
				display: block;
				padding: .75em;
				height: 3em;
                width: 3em;
                max-width: 3em;

				&:hover, &:focus {
                    background-color: lighten(@color-primary, 10%);
                    outline: 0;
				}

                &:active, &.textresizer-active {
                    background: darken(@color-primary, 10%);
                    outline: 0;
                }

				span {
					font-size: 1.5em;
				}
			}
		}
	}
}

.main-container {
    background: @smoke;
}

main {
    background: @smoke;
    padding: .5em !important;
}

aside {
    // background: @color-primary;
    background: @color-aside-back;

    .module {
        margin: .5em;
    }
}

nav {
	// background: @whitesmoke;
}

footer {
	background: @color-footer-back;
    font-size: .875em;
}

.breadcrumbs-container {
    .make-block;
    background: @color-breadcrumbs-back;
    font-size: .875em;
    padding: 0 1em;

}

section.slider-container {
    background: @color-slider-back;
}

section.top {
    background: @color-top-row-back;
}

section.bottom {
    background: @color-bottom-row-back;
}

section.inner-top {
    background: @smoke;
}

section.inner-bottom {
    background: @smoke;
}

main,
aside,
footer,
section.breadcrumbs-container,
section.top,
section.bottom,
// section.inner-top,
// section.inner-bottom,
section.slider-container,
section.main-container
 {
    .make-block;
}

footer,
section.top,
section.bottom,
section.inner-top,
section.inner-bottom {
    .flex-display;
	.flex-flow(row wrap);
    .justify-content(center);
    .align-items(stretch);

	.module {
		.flex(1 1 auto);
		margin: .5em;

        &.size-2 {
            .flex(2 1 auto);
        }

        &.size-3 {
            .flex(3 1 auto);
        }

        &.size-4 {
            .flex(4 1 auto);
        }
    }
}

footer,
section.top,
section.bottom {
    .module {
        width: 18em;
    }
}

.cols-1, .cols-2, .cols-3, .cols-4 {
    .make-block;
}



// media queries // 48 x 16 = 768
@media screen and (min-width: 47em) {

    .search-container {
        max-width: 50%;
    }

    section.main-container {
        .flex-display;
        .flex-flow(row nowrap);
        .justify-content(space-between);
        .align-items(stretch);

        main {
            margin: 0 auto;

            section.content {
                margin: .5em auto;
            }

            section.inner-bottom,
            section.inner-top {
                margin: 0 auto;
            }
        }

        aside.sidebar-container,
        aside.leftbar-container {
            margin: .5em 0 0 0;

            .flex-display;
            .flex-flow(row wrap);
            .justify-content(flex-start);
            .align-items(flex-start);
            .align-content(flex-start);

            .module {
                .flex(1 1 auto);
                margin: .5em;
            }
        }
    }

    body.slider {
        section.main-container main {
            section.content  {
                max-width: 100% !important;
            }
        }
    }

    body.cards {
        section.main-container main {
            section.content  {
                max-width: 100% !important;

                section.cards-container {
                    .flex-display;
                    .flex-flow(row wrap);
                    .justify-content(center);
                    .align-items(stretch);

                    article {
                        .flex(1 1 auto);
                        max-width: 40em;

                        &.leading {
                            width: 24em;
                            min-width: 8em;
                        }

                        &.item {
                            width: 24em;
                            min-width: 8em;
                        }

                        &:last-of-type {
                            max-width: 40em;
                        }
                    }
                }
            }
        }
    }

    body.masonry {
        section.main-container main {
            section.content  {
                max-width: 100% !important;

                section.masonry-container {
                    article.masonry-item {
                            width: 45%;
                    }
                }
            }
        }
    }

    .search-container {
        background-color: transparent;
        height: 4em;
        max-height: 4em;
    }

    .cols-2, .cols-3, .cols-4  {
        padding: 0 .5em;
    }

    .cols-2 {
        width: 50%;
    }

    .cols-3 {
        width: 33.3333%;
    }

    .cols-4 {
        width: 25%;
    }

    .logo-image {
        position: absolute;
        left: 0;
        top: 0;
        height: 4em;
        width: 6em;

        a {
            height: 4em;
            margin: 0;
        }
    }

    .sticky {
        position: fixed !important;
        left: 0;
        top: 0;
        height: 4em;
        width: 100%;
        z-index: 100;

        .logo-image {
            top: 0 !important;
        }
    }

}

@media screen and (min-width: 80em) {

    body.masonry {
        section.main-container main {
            section.content  {
                max-width: 100% !important;

                section.masonry-container {
                    article.masonry-item {
                        width: 30%;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 100em) {

}